/* Shared Style */
body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.orange {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}

.sec-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;


}

/* nav related work */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    margin-right: 50px;


}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related work */

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner {
    padding: 30px 50px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .info {
    width: 585px;
}

.banner .profile {
    width: 500px;
}

.gretting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.name {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0;
}

.info {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;


}

/* main file style */




/* about section style */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0px;

}

.sec-description {
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    
   
}